<% content_for :title, "New Subdomain" %>

<section class="px-3 py-5 p-md-5">
  <div class="container single-col-max-width">
    <% if notice.present? %>
      <p style="color: green"><%= notice %></p>
    <% end %>

    <h5 class="mb-3">Add New Subdomain</h5>

    <%= render "form", subdomain: @subdomain %>
  </div>
</section>
