# Don't bother with file "credentials.yml.development"; it has nothing to do with you.

smtp:
  user_name: my-smtp-user
  password: my-smtp-password

secret_key_base: c424d92da913ef57d539288a50ab089f6373962f99efa30ff331b931bf325719751d745577dccd31c18479e31aef4d0b2f140536c9357741a5ec88034f827ce9

# Used to log in at "http://<yourblog.com>/jobs"
mission_control:
  http_basic_auth_user: change_to_your_user_name
  http_basic_auth_password: change_to_your_password
