<% content_for :title, "Edit post" %>

<section class="px-3 py-5 p-md-5">
  <div class="container single-col-max-width">
    <% if notice.present? %>
      <p style="color: green"><%= notice %></p>
    <% end %>

    <h5 class="mb-3">Edit post</h5>

    <%= render "form", post: @post %>

    <div class="mt-4">
      <%= link_to "Show this post", @post.path, target: "_blank" %>
    </div>
  </div>
</section>
